.moon {
  height: 250px;
  width: 250px;

  position: relative;

  -webkit-clip-path: circle(250px at center);
  clip-path: circle(250px, 250px, 250px);
  clip-path: circle(250px at center);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b5bcc6;
  overflow: hidden;
}
.moon:before,
.moon:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}
.moon:before {
  background: #04162e;
  -moz-box-shadow: inset -10px 0 7px 0px #b5bcc6;
  -webkit-box-shadow: inset -10px 0 7px 0px #b5bcc6;
  box-shadow: inset -10px 0 7px 0px #b5bcc6;
}
.moon:after {
  background: #b5bcc6;
  -moz-box-shadow: inset -10px 0 7px 0px #b5bcc6;
  -webkit-box-shadow: inset -10px 0 7px 0px #b5bcc6;
  box-shadow: inset -10px 0 7px 0px #b5bcc6;
}

/* Animation */

@keyframes before-fullmoon {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
  0%,
  24.99% {
    background: #04162e;
  }
  25%,
  100% {
    background: #b5bcc6;
  }
  0% {
    -moz-box-shadow: inset 0px 0 7px 0px #b5bcc6;
    -webkit-box-shadow: inset 0px 0 7px 0px #b5bcc6;
    box-shadow: inset 0px 0 7px 0px #b5bcc6;
  }
  24.99% {
    -moz-box-shadow: inset 170px 0 7px 0px #b5bcc6;
    -webkit-box-shadow: inset 170px 0 7px 0px #b5bcc6;
    box-shadow: inset 170px 0 7px 0px #b5bcc6;
  }
  25% {
    -moz-box-shadow: inset 100px 0 7px 0px #04162e;
    -webkit-box-shadow: inset 100px 0 7px 0px #04162e;
    box-shadow: inset 100px 0 7px 0px #04162e;
  }
  50%,
  100% {
    -moz-box-shadow: inset 0 0 7px 0px #04162e;
    -webkit-box-shadow: inset 0 0 7px 0px #04162e;
    box-shadow: inset 0 0 7px 0px #04162e;
  }
  0%,
  50%,
  100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  20%,
  30% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  0%,
  24.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25%,
  50%,
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes after-fullmoon {
  0%,
  50% {
    opacity: 0;
  }
  50.01%,
  100% {
    opacity: 1;
  }
  0%,
  50%,
  74.99% {
    background: #b5bcc6;
  }
  75%,
  100% {
    background: #04162e;
  }
  0%,
  50% {
    -moz-box-shadow: inset 0px 0 7px 0px #04162e;
    -webkit-box-shadow: inset 0px 0 7px 0px #04162e;
    box-shadow: inset 0px 0 7px 0px #04162e;
  }
  74.99% {
    -moz-box-shadow: inset 170px 0 7px 0px #04162e;
    -webkit-box-shadow: inset 170px 0 7px 0px #04162e;
    box-shadow: inset 170px 0 7px 0px #04162e;
  }
  75% {
    -moz-box-shadow: inset 100px 0 7px 0px #b5bcc6;
    -webkit-box-shadow: inset 100px 0 7px 0px #b5bcc6;
    box-shadow: inset 100px 0 7px 0px #b5bcc6;
  }
  100% {
    -moz-box-shadow: inset 0 0 7px 0px #b5bcc6;
    -webkit-box-shadow: inset 0 0 7px 0px #b5bcc6;
    box-shadow: inset 0 0 7px 0px #b5bcc6;
  }
  0%,
  50%,
  100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  70%,
  80% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  75% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  0%,
  50%,
  74.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75%,
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.moon:before {
  -moz-animation: before-fullmoon linear 20s infinite;
  -webkit-animation: before-fullmoon linear 20s infinite;
  animation: before-fullmoon linear 20s infinite;
}
.moon:after {
  -moz-animation: after-fullmoon linear 20s infinite;
  -webkit-animation: after-fullmoon linear 20s infinite;
  animation: after-fullmoon linear 20s infinite;
}
