@font-face {
  font-family: "Changa";
  src: url(../../assets/fonts/Changa-VariableFont_wght.ttf);
}
.networkApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  width: 100%;
}
#offlineStatus {
  color: white;
  background-color: rgba(211, 211, 211, 0.349);
  border: 1px solid lightgrey;
  padding: 7px;
  font-family: Changa;
}
#offlineStatus span {
}
#solarContainer {
  margin-top: 120px;
}

#hoverSun {
  margin-top: 130px;
  color: white;
  opacity: 0.13;
}
